<div class="col-md-1">
	<a href="{% url 'index' %}" style="padding-right: 30px;" id="top-icon">
		<img src="/static/img/home.png"><div style="text-align: center;">首　页</div>
	</a>
</div>
<div class="col-md-1">
	<a href="{% url 'server_info' %}" style="padding-right: 30px;" id="top-icon">
		<img src="/static/img/host.png"><div style="text-align: center;">主机管理</div>
	</a>
</div>
<div class="col-md-1">
	<a href="{% url 'server_group' %}" style="padding-right: 30px;" id="top-icon">
		<img src="/static/img/hostgroupmgr.png"><div style="text-align: center; font-size: 12px;">主机组管理</div>
	</a>
</div>
<div class="col-md-1">
	<a href="{% url 'web' %}" style="padding-right: 30px;" id="top-icon">
		<img src="/static/img/moniter.png"><div style="text-align: center;">网站监控</div>
	</a>
</div>
<div class="col-md-1">
	<a href="{% url 'ywgl' %}" style="padding-right: 30px;" id="top-icon">
		<img src="/static/img/ywgl.png"><div style="text-align: center;">运维管理</div>
	</a>
</div>
<div class="col-md-1">
	<a href="{% url 'audit' %}" style="padding-right: 30px;" id="top-icon">
		<img src="/static/img/audit.png"><div style="text-align: center;">安全审计</div>
	</a>
</div>
<div class="col-md-1">
	<a href="{% url 'query' %}" style="padding-right: 30px;" id="top-icon">
		<img src="/static/img/query.png"><div style="text-align: center;">查询统计</div>
	</a>
</div>
