{% extends "bstrap.html" %}

{% block title %}添加主机组{% endblock %}

{% block panel-title %}
	添加主机组
{% endblock %}


{% block content %}
	<form action="/server_group/" class="form-horizontal" role="form" id="addhostgroup">
		{% csrf_token %}
	   <div class="form-group">
	      <label for="groupname" class="col-sm-2 control-label">主机组名: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="groupname" id="groupname" required="required"
	            placeholder="请输入主机组名称">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="groupmember_1" class="col-sm-2 control-label">主机组成员: </label>
	      <div class="col-sm-4">
		      <select multiple name="groupmember_1" id="groupmember_1" class="form-control">
		         {% for server in servers %}
		         	{% for ip in server.ipaddr_set.all %}
		         		{% if ip.ip_type == "管理IP" %}
		         			<option>{{ip.address}}</option>
		         		{% endif %}
		         	{% endfor %}
		         {% endfor %}
		      </select>
	      </div>
	      <div class="col-sm-1" style="text-align: center; margin-top: 15px;">
	      	<a href="#" onclick="rightmove()"><span class="badge"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></span></a>
	      	<p></p>
	      	<a href="#" onclick="leftmove()"><span class="badge"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></span></a>
	      </div>
	      <div class="col-sm-4">
		      <select multiple name="groupmember_2" id="groupmember_2" class="form-control">
		      </select>
	      </div>
	   </div>
	   <div class="page-header"></div>
	   <div class="form-group">
		  <div class="col-sm-12, col-sm-offset-10">
		     <button class="btn  btn-success" onclick="groupcancel()">取消</button>
		     <button type="submit" class="btn  btn-success" onclick="groupsave()">保存</button>
		  </div>
	   </div>
	</form>
{% endblock %}