{% extends "bstrap.html" %}

{% block title %}添加模块{% endblock %}

{% block panel-title %}添加模块{% endblock %}

{% block content %}
	<form action="/ywgl/handlemodule/" class="form-horizontal" role="form" id="addmodule">
	{% csrf_token %}
	   <div class="form-group">
	      <label for="mod_name" class="col-sm-1 control-label">模块名称: </label>
	      <div class="col-sm-6">
	         <input type="text" class="form-control" id="mod_name" name="mod_name" required="required"
	            placeholder="请输入模块名">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="mod_desc" class="col-sm-1 control-label">功能描述: </label>
	      <div class="col-sm-6">
	         <input type="text" class="form-control" id="mod_desc" name="mod_desc" required="required"
	            placeholder="请输入模块功能描述">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="mod_extend" class="col-sm-1 control-label">功能扩展: </label>
	      <div class="col-sm-6">
	         <textarea class="form-control" rows="10" name="mod_extend" id="mod_extend"></textarea>
	      </div>
	   </div>
	   <p class="col-sm-offset-1">* 系统支持表单扩展参数, ID命名约定为"sys_param_1"</p>
	   <div class="form-group">
	      <div class="col-sm-7 col-sm-offset-3">
	         <button type="submit" class="btn btn-success" style="margin-left: 26px;" onclick="modsubbt()">提交</button>
	         <button type="submit" class="btn btn-success" onclick="modcancle()">返回</button>
	      </div>
	   </div>
	</form>
{% endblock %}