{% extends "bstrap.html" %}
{% block panel-title %}
	添加服务器
{% endblock %}

{% block content %}
	<form action="/server/" class="form-horizontal" role="form" id="addserver">
		{% csrf_token %}
	   <!-- IP地址 -->
	   <div class="form-group">
	      <label for="telip" class="col-sm-2 control-label">电信IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="telip" id="telip"
	            placeholder="请输入电信IP">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="uniip" class="col-sm-2 control-label">联通IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="uniip" id="uniip"
	            placeholder="请输入联通IP">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="bgpip" class="col-sm-2 control-label">BGP_IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="bgpip" id="bgpip"
	            placeholder="请输入BGP IP">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="mangip" class="col-sm-2 control-label">管理IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="mangip" id="mangip"
	            placeholder="请输入管理IP" required="required">
	      </div>
	   </div>
	   <div class="page-header"></div>
	   <!-- 服务器软信息 -->
	   <div class="form-group">
	      <label for="hostname" class="col-sm-2 control-label">主机名: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" required="required" name="hostname" id="hostname"
	            placeholder="请输入主机名">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="os" class="col-sm-2 control-label">操作系统: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="os" id="os"
	            placeholder="如Linux6.5_x86_64 CentOS7_x86_64">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="business" class="col-sm-2 control-label">归属平台: </label>
	      <div class="col-sm-4">
	         <select name="business" id="business" class="form-control">
	         	 <option></option>
		         <option>管理平台</option>
		         <option>营销平台</option>
		         <option>药店人平台</option>
		         <option>医患药平台</option>
		         <option>西普平台</option>
		         <option>DR数据平台</option>
		         <option>其它</option>
		     </select>
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="app" class="col-sm-2 control-label">项目应用: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="app" id="app"
	            placeholder="多个应用之间用英文逗号（,）分隔">
	      </div>
	   </div>	
	   <div class="form-group">
	      <label for="leader" class="col-sm-2 control-label">项目负责人: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="leader" id="leader"
	            placeholder="请输入项目负责人">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="tag" class="col-sm-2 control-label">标签: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="tag" id="tag"
	            placeholder="请输入标签,方便多维度识别资产用途">
	      </div>
	   </div>  
	   <div class="page-header"></div>
	   <!-- 服务器硬信息 --> 
	   <div class="form-group">
	      <label for="manufactory" class="col-sm-2 control-label">制造商: </label>
	      <div class="col-sm-4">
	         <select name="manufactory" id="manufactory" class="form-control">
		         <option>DELL</option>
		         <option>HP</option>
		         <option>IBM</option>
		         <option>其它</option>
		     </select>
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="model" class="col-sm-2 control-label">型号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="model" id="model"
	            placeholder="请输入型号">
	      </div>
	   </div> 
	   <div class="form-group">
	      <label for="cpumodel" class="col-sm-2 control-label">CPU型号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="cpumodel" id="cpumodel"
	            placeholder="请输入CPU型号">
	      </div>
	   </div>
	   
	   <div class="form-group">
	      <label for="phycpus" class="col-sm-2 control-label">物理CPU数: </label>
	      <div class="col-sm-4">
	         <select name="phycpus" id="phycpus" class="form-control">
		         <option>1</option>
		         <option>2</option>
		         <option>3</option>
		         <option>4</option>
		         <option>5</option>
		         <option>6</option>
		         <option>7</option>
		         <option>8</option>
		     </select>
	   	</div>
	   </div> 
	   <div class="form-group">
	      <label for="cpu_totals" class="col-sm-2 control-label">总CPU核数: </label>
	      <div class="col-sm-4">
	         <select name="cpu_totals" id="cpu_totals" class="form-control">
		         <option>2</option>
		         <option>4</option>
		         <option>8</option>
		         <option>12</option>
		         <option>16</option>
		         <option>24</option>
		         <option>32</option>
		         <option>64</option>
		         <option>128</option>
		     </select>
	      </div>
	   </div> 
	   <div class="form-group">
	      <label for="mem_capcity" class="col-sm-2 control-label">内存容量: </label>
	      <div class="col-sm-4">
	         <select name="mem_capcity" id="mem_capcity" class="form-control">
		         <option>4</option>
		         <option>8</option>
		         <option>16</option>
		         <option>32</option>
		         <option>64</option>
		         <option>128</option>
		     </select>
	       </div> 
	   </div>
	   <div class="page-header"></div>
	   <div class="form-group">
	      <label for="dg1_disktype" class="col-sm-2 control-label">磁盘组1●磁盘类型: </label>
	      <div class="col-sm-4">
	         <select name="dg1_disktype" id="dg1_disktype" class="form-control">
	         	 <option></option>
		         <option>SAS</option>
		         <option>SATA</option>
		         <option>SSD</option>
		     </select>
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="dg1_disk_counts" class="col-sm-2 control-label">磁盘组1●磁盘数量: </label>
	      <div class="col-sm-4">
	         <select name="dg1_disk_counts" id="dg1_disk_counts" class="form-control">
	         	 <option></option>
		         <option>1</option>
		         <option>2</option>
		         <option>3</option>
		         <option>4</option>
		         <option>5</option>
		         <option>6</option>
		         <option>7</option>
		         <option>8</option>
		     </select>
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="dg1_disk_capcity" class="col-sm-2 control-label">磁盘组1●磁盘容量: </label>
	      <div class="col-sm-4">
	         <select name="dg1_disk_capcity" id="dg1_disk_capcity" class="form-control">
	         	 <option></option>
		         <option>300</option>
		         <option>500</option>
		         <option>600</option>
		         <option>900</option>
		         <option>1000</option>
		         <option>1200</option>
		         <option>1500</option>
		         <option>3000</option>
		         <option>4000</option>
		     </select>
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="dg1_raid" class="col-sm-2 control-label">磁盘组1●RAID: </label>
	      <div class="col-sm-4">
	         <select name="dg1_raid" id="dg1_raid" class="form-control">
	         	 <option></option>
		         <option>0</option>
		         <option>1</option>
		         <option>5</option>
		         <option>6</option>
		         <option>10</option>
		     </select>
	       </div> 
	   </div>
	   <div class="page-header"></div>
	   <div class="form-group">
	      <label for="dg2_disktype" class="col-sm-2 control-label">磁盘组2●磁盘类型: </label>
	      <div class="col-sm-4">
	         <select name="dg2_disktype" id="dg2_disktype" class="form-control">
	         	 <option></option>
		         <option>SAS</option>
		         <option>SATA</option>
		         <option>SSD</option>
		     </select>
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="dg2_disk_counts" class="col-sm-2 control-label">磁盘组2●磁盘数量: </label>
	      <div class="col-sm-4">
	         <select name="dg2_disk_counts" id="dg2_disk_counts" class="form-control">
	         	 <option></option>
		         <option>1</option>
		         <option>2</option>
		         <option>3</option>
		         <option>4</option>
		         <option>5</option>
		         <option>6</option>
		         <option>7</option>
		         <option>8</option>
		     </select>
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="dg2_disk_capcity" class="col-sm-2 control-label">磁盘组2●磁盘容量: </label>
	      <div class="col-sm-4">
	         <select name="dg2_disk_capcity" id="dg2_disk_capcity" class="form-control">
	         	 <option></option>
		         <option>300</option>
		         <option>600</option>
		         <option>900</option>
		         <option>1000</option>
		         <option>1200</option>
		         <option>1500</option>
		         <option>3000</option>
		         <option>4000</option>
		     </select>
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="dg2_raid" class="col-sm-2 control-label">磁盘组2●RAID: </label>
	      <div class="col-sm-4">
	         <select name="dg2_raid" id="dg2_raid" class="form-control">
	         	 <option></option>
		         <option>0</option>
		         <option>1</option>
		         <option>5</option>
		         <option>6</option>
		         <option>10</option>
		     </select>
	       </div> 
	   </div>
	   <div class="page-header"></div>
	   <div class="form-group">
	      <label for="idc" class="col-sm-2 control-label">IDC: </label>
	      <div class="col-sm-4">
	         <select name="idc" id="idc" class="form-control">
		         <option>公司机房</option>
		         <option>科韵路机房</option>
		     </select>
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="cabinet_num" class="col-sm-2 control-label">机柜编号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="cabinet_num" id="cabinet_num"
	            placeholder="请输入机柜编号">
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="bands" class="col-sm-2 control-label">带宽: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="bands" id="bands"
	            placeholder="如:BGP 100M共享, 双线10M独享">
	       </div> 
	   </div>	
	   <div class="form-group">
	      <label for="device_type" class="col-sm-2 control-label">设备类型: </label>
	      <div class="col-sm-4">
	         <select name="device_type" id="device_type" class="form-control">
		         <option>物理服务器</option>
		         <option>虚拟服务器</option>
		         <option>ESXi服务器</option>
		         <option>网络设备</option>
		     </select>
	       </div> 
	   </div>    
	   <div class="form-group">
	      <label for="sn" class="col-sm-2 control-label">序列号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="sn" id="sn"
	            placeholder="请输入服务器序列号">
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="service_time" class="col-sm-2 control-label">维保截止时间: </label>
	      <div class="col-sm-4">
	         <input type="date" class="form-control" name="service_time" id="service_time">
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="status" class="col-sm-2 control-label">在线状态: </label>
	      <div class="col-sm-4">
	         <select name="status" id="status" class="form-control">
		         <option>online</option>
		         <option>offline</option>
		     </select>
	       </div> 
	   </div>
	   <div class="page-header"></div>	   
	   <div class="form-group">
		  <div class="col-sm-12, col-sm-offset-10">
		     <button type="submit" class="btn  btn-success" onclick="sercancel()">取消</button>
		     <button type="submit" class="btn  btn-success" onclick="sersave()">保存</button>
		  </div>
	   </div>
	</form>
{% endblock %}
