{% extends "bstrap.html" %}
{% block panel-title %}
	编辑{{server.hostname}}
{% endblock %}

{% block content %}
	<form action="/server/{{server.id}}/" class="form-horizontal" role="form" id="addserver">
		{% csrf_token %}
	   <!-- IP地址 -->
	   <div class="form-group">
	   
	      <label for="telip" class="col-sm-2 control-label">电信IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="telip" id="telip"
	         {% for ip in server.ipaddr_set.all %} 
	         	{% if ip.ip_type == "电信IP" %} value = "{{ip.address}}" {% endif %}
	         {% endfor %}
	            placeholder="请输入电信IP">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="uniip" class="col-sm-2 control-label">联通IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="uniip" id="uniip" 
	         {% for ip in server.ipaddr_set.all %} 
	         	{% if ip.ip_type == "联通IP" %} value = "{{ip.address}}" {% endif %}
	         {% endfor %}
	            placeholder="请输入联通IP">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="bgpip" class="col-sm-2 control-label">BGP_IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="bgpip" id="bgpip"
	         {% for ip in server.ipaddr_set.all %}  
	         	{% if ip.ip_type == "BGP_IP" %} value = "{{ip.address}}" {% endif %}
	         {% endfor %}
	            placeholder="请输入BGP IP">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="mangip" class="col-sm-2 control-label">管理IP: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="mangip" id="mangip"
	         {% for ip in server.ipaddr_set.all %}  
	         	{% if ip.ip_type == "管理IP" %} value = "{{ip.address}}" {% endif %}
	         {% endfor %}
	            placeholder="请输入管理IP" required="required">
	      </div>
	   </div>
	   <div class="page-header"></div>
	   <!-- 服务器软信息 -->
	   <div class="form-group">
	      <label for="hostname" class="col-sm-2 control-label">主机名: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" required="required" name="hostname" id="hostname" value = "{{server.hostname}}"
	            placeholder="请输入主机名">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="os" class="col-sm-2 control-label">操作系统: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="os" id="os" value = "{{server.os_platform}}"
	            placeholder="如Linux6.5_x86_64 CentOS7_x86_64">
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="business" class="col-sm-2 control-label">归属平台: </label> 
	      <div class="col-sm-4">
	         <select name="business" id="business" class="form-control">
	         	 <option></option>
	         	 {% if server.business.name == "管理平台" %}<option selected>管理平台</option>{% else %}<option>管理平台</option>{% endif %}
		         {% if server.business.name == "营销平台" %}<option selected>营销平台</option>{% else %}<option>营销平台</option>{% endif %}
		         {% if server.business.name == "药店人平台" %}<option selected>药店人平台</option>{% else %}<option>药店人平台</option>{% endif %}
		         {% if server.business.name == "医患药平台" %}<option selected>医患药平台</option>{% else %}<option>医患药平台</option>{% endif %}
		         {% if server.business.name == "西普平台" %}<option selected>西普平台</option>{% else %}<option>西普平台</option>{% endif %}
		         {% if server.business.name == "DR数据平台" %}<option selected>DR数据平台</option>{% else %}<option>DR数据平台</option>{% endif %}
		         {% if server.business.name == "其它" %}<option selected>其它</option>{% else %}<option>其它</option>{% endif %}
		     </select>
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="app" class="col-sm-2 control-label">项目应用: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="app" id="app" value="{% for app in server.app_set.all %}{{app.name}}{% if not forloop.last %},{% endif %}{% endfor %}" 
	         	placeholder="多个应用之间用英文逗号（,）分隔">
	      </div>
	   </div>	
	   <div class="form-group">
	      <label for="leader" class="col-sm-2 control-label">项目负责人: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="leader" id="leader" value = "{{server.leader.name}}"
	            placeholder="请输入项目负责人">
	      </div>
	   </div>  
	   <div class="form-group">
	      <label for="tag" class="col-sm-2 control-label">标签: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="tag" id="tag" value = "{{server.tag}}"
	            placeholder="请输入标签,方便多维度识别资产用途">
	      </div>
	   </div> 
	   <div class="page-header"></div>
	   <!-- 服务器硬信息 --> 
	   <div class="form-group">
	      <label for="manufactory" class="col-sm-2 control-label">制造商: </label>
	      <div class="col-sm-4">
	         <select name="manufactory" id="manufactory" class="form-control">
	         	{% if server.manufactory == "DELL" %}<option selected>DELL</option>{% else %}<option>DELL</option>{% endif %}
		        {% if server.manufactory == "HP" %}<option selected>HP</option>{% else %}<option>HP</option>{% endif %}
		        {% if server.manufactory == "IBM" %}<option selected>IBM</option>{% else %}<option>IBM</option>{% endif %}
		        {% if server.manufactory == "其它" %}<option selected>其它</option>{% else %}<option>其它</option>{% endif %}
		     </select>
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="model" class="col-sm-2 control-label">型号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="model" id="model" value="{{server.model}}"
	            placeholder="请输入型号">
	      </div>
	   </div> 
	   <div class="form-group">
	      <label for="cpumodel" class="col-sm-2 control-label">CPU型号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="cpumodel" id="cpumodel" value="{{server.cpu_model}}"
	            placeholder="请输入CPU型号">
	      </div>
	   </div>
	   
	   <div class="form-group">
	      <label for="phycpus" class="col-sm-2 control-label">物理CPU数: </label>
	      <div class="col-sm-4">
	         <select name="phycpus" id="phycpus" class="form-control">
	         	{% if server.cpu_physical_count == 1 %}<option selected>1</option>{% else %}<option>1</option>{% endif %}
	         	{% if server.cpu_physical_count == 2 %}<option selected>2</option>{% else %}<option>2</option>{% endif %}
	         	{% if server.cpu_physical_count == 3 %}<option selected>3</option>{% else %}<option>3</option>{% endif %}
	         	{% if server.cpu_physical_count == 4 %}<option selected>4</option>{% else %}<option>4</option>{% endif %}
	         	{% if server.cpu_physical_count == 5 %}<option selected>5</option>{% else %}<option>5</option>{% endif %}
	         	{% if server.cpu_physical_count == 6 %}<option selected>6</option>{% else %}<option>6</option>{% endif %}
	         	{% if server.cpu_physical_count == 7 %}<option selected>7</option>{% else %}<option>7</option>{% endif %}
	         	{% if server.cpu_physical_count == 8 %}<option selected>8</option>{% else %}<option>8</option>{% endif %}
		     </select>
	   	</div>
	   </div> 
	   <div class="form-group">
	      <label for="cpu_totals" class="col-sm-2 control-label">总CPU核数: </label>
	      <div class="col-sm-4">
	         <select name="cpu_totals" id="cpu_totals" class="form-control">
	         	{% if server.cpu_count == 2 %}<option selected>2</option>{% else %}<option>2</option>{% endif %}
	         	{% if server.cpu_count == 4 %}<option selected>4</option>{% else %}<option>4</option>{% endif %}
	         	{% if server.cpu_count == 8 %}<option selected>8</option>{% else %}<option>8</option>{% endif %}
	         	{% if server.cpu_count == 12 %}<option selected>12</option>{% else %}<option>12</option>{% endif %}
	         	{% if server.cpu_count == 16 %}<option selected>16</option>{% else %}<option>16</option>{% endif %}
	         	{% if server.cpu_count == 24 %}<option selected>24</option>{% else %}<option>24</option>{% endif %}
	         	{% if server.cpu_count == 32 %}<option selected>32</option>{% else %}<option>32</option>{% endif %}
	         	{% if server.cpu_count == 64 %}<option selected>64</option>{% else %}<option>64</option>{% endif %}
	         	{% if server.cpu_count == 128 %}<option selected>128</option>{% else %}<option>128</option>{% endif %}
		     </select>
	      </div>
	   </div>
	   <div class="form-group">
	      <label for="mem_capcity" class="col-sm-2 control-label">内存容量: </label>
	      <div class="col-sm-4">
	         <select name="mem_capcity" id="mem_capcity" class="form-control">
	         	{% if server.mem_capacity == 4 %}<option selected>4</option>{% else %}<option>4</option>{% endif %}
	         	{% if server.mem_capacity == 8 %}<option selected>8</option>{% else %}<option>8</option>{% endif %}
	         	{% if server.mem_capacity == 16 %}<option selected>16</option>{% else %}<option>16</option>{% endif %}
	         	{% if server.mem_capacity == 24 %}<option selected>24</option>{% else %}<option>24</option>{% endif %}
	         	{% if server.mem_capacity == 32 %}<option selected>32</option>{% else %}<option>32</option>{% endif %}
	         	{% if server.mem_capacity == 64 %}<option selected>64</option>{% else %}<option>64</option>{% endif %}
	         	{% if server.mem_capacity == 128 %}<option selected>128</option>{% else %}<option>128</option>{% endif %}
		     </select>
	       </div> 
	   </div>
	   <div class="page-header"></div>
	   <!-- 磁盘类型判断 -->
	   {% for disk in server.disk_set.all %}
	   	{% if disk.dgroup == 1 %}
		   <div class="form-group">
		      <label for="dg1_disktype" class="col-sm-2 control-label">磁盘1●磁盘类型: </label>
		      <div class="col-sm-4">
		         <select name="dg1_disktype" id="dg1_disktype" class="form-control">
		         		<option></option>		         	
		         		{% if disk.pd_type == "SAS" %}<option selected>SAS</option>{% else %}<option>SAS</option>{% endif %}
		         		{% if disk.pd_type == "SATA" %}<option selected>SATA</option>{% else %}<option>SATA</option>{% endif %}
		         		{% if disk.pd_type == "SSD" %}<option selected>SSD</option>{% else %}<option>SSD</option>{% endif %}			        
			     </select>
		      </div>
		   </div>
		   <div class="form-group">
		      <label for="dg1_disk_counts" class="col-sm-2 control-label">磁盘1●磁盘数量: </label>
		      <div class="col-sm-4">
		         <select name="dg1_disk_counts" id="dg1_disk_counts" class="form-control">
		         	 <option></option>
		         	 {% if disk.count == 1 %}<option selected>1</option>{% else %}<option>1</option>{% endif %}
		         	 {% if disk.count == 2 %}<option selected>2</option>{% else %}<option>2</option>{% endif %}
		         	 {% if disk.count == 3 %}<option selected>3</option>{% else %}<option>3</option>{% endif %}
		         	 {% if disk.count == 4 %}<option selected>4</option>{% else %}<option>4</option>{% endif %}
		         	 {% if disk.count == 5 %}<option selected>5</option>{% else %}<option>5</option>{% endif %}
		         	 {% if disk.count == 6 %}<option selected>6</option>{% else %}<option>6</option>{% endif %}
		         	 {% if disk.count == 7 %}<option selected>7</option>{% else %}<option>7</option>{% endif %}
		         	 {% if disk.count == 8 %}<option selected>8</option>{% else %}<option>8</option>{% endif %}
			     </select>
		       </div> 
		   </div>
		   <div class="form-group">
		      <label for="dg1_disk_capcity" class="col-sm-2 control-label">磁盘1●磁盘容量: </label>
		      <div class="col-sm-4">
		         <select name="dg1_disk_capcity" id="dg1_disk_capcity" class="form-control">
		         	 <option></option>
		         	 {% if disk.capacity == 300 %}<option selected>300</option>{% else %}<option>300</option>{% endif %}
		         	 {% if disk.capacity == 500 %}<option selected>500</option>{% else %}<option>500</option>{% endif %}
		         	 {% if disk.capacity == 600 %}<option selected>600</option>{% else %}<option>600</option>{% endif %}
		         	 {% if disk.capacity == 900 %}<option selected>900</option>{% else %}<option>900</option>{% endif %}
		         	 {% if disk.capacity == 1000 %}<option selected>1000</option>{% else %}<option>1000</option>{% endif %}
		         	 {% if disk.capacity == 1200 %}<option selected>1200</option>{% else %}<option>1200</option>{% endif %}
		         	 {% if disk.capacity == 1500 %}<option selected>1500</option>{% else %}<option>1500</option>{% endif %}
		         	 {% if disk.capacity == 3000 %}<option selected>3000</option>{% else %}<option>3000</option>{% endif %}
		         	 {% if disk.capacity == 4000 %}<option selected>4000</option>{% else %}<option>4000</option>{% endif %}
			     </select>
		       </div> 
		   </div>
		   <div class="form-group">
		      <label for="dg1_raid" class="col-sm-2 control-label">磁盘1●RAID: </label>
		      <div class="col-sm-4">
		         <select name="dg1_raid" id="dg1_raid" class="form-control">
		         	 <option></option>
		         	 {% if disk.raid == 0 %}<option selected>0</option>{% else %}<option>0</option>{% endif %}
		         	 {% if disk.raid == 1 %}<option selected>1</option>{% else %}<option>1</option>{% endif %}
		         	 {% if disk.raid == 5 %}<option selected>5</option>{% else %}<option>5</option>{% endif %}
		         	 {% if disk.raid == 6 %}<option selected>6</option>{% else %}<option>6</option>{% endif %}
		         	 {% if disk.raid == 10 %}<option selected>10</option>{% else %}<option>10</option>{% endif %}
			     </select>
		       </div> 
		   </div>
		 <div class="page-header"></div>
		 {% endif %}
	   	{% if disk.dgroup == 2 %}
		   <div class="form-group">
		      <label for="dg2_disktype" class="col-sm-2 control-label">磁盘2●磁盘类型: </label>
		      <div class="col-sm-4">
		         <select name="dg2_disktype" id="dg2_disktype" class="form-control">
		         		<option></option>		         	
		         		{% if disk.pd_type == "SAS" %}<option selected>SAS</option>{% else %}<option>SAS</option>{% endif %}
		         		{% if disk.pd_type == "SATA" %}<option selected>SATA</option>{% else %}<option>SATA</option>{% endif %}
		         		{% if disk.pd_type == "SSD" %}<option selected>SSD</option>{% else %}<option>SSD</option>{% endif %}			        
			     </select>
		      </div>
		   </div>
		   <div class="form-group">
		      <label for="dg2_disk_counts" class="col-sm-2 control-label">磁盘2●磁盘数量: </label>
		      <div class="col-sm-4">
		         <select name="dg2_disk_counts" id="dg2_disk_counts" class="form-control">
		         	 <option></option>
		         	 {% if disk.count == 1 %}<option selected>1</option>{% else %}<option>1</option>{% endif %}
		         	 {% if disk.count == 2 %}<option selected>2</option>{% else %}<option>2</option>{% endif %}
		         	 {% if disk.count == 3 %}<option selected>3</option>{% else %}<option>3</option>{% endif %}
		         	 {% if disk.count == 4 %}<option selected>4</option>{% else %}<option>4</option>{% endif %}
		         	 {% if disk.count == 5 %}<option selected>5</option>{% else %}<option>5</option>{% endif %}
		         	 {% if disk.count == 6 %}<option selected>6</option>{% else %}<option>6</option>{% endif %}
		         	 {% if disk.count == 7 %}<option selected>7</option>{% else %}<option>7</option>{% endif %}
		         	 {% if disk.count == 8 %}<option selected>8</option>{% else %}<option>8</option>{% endif %}
			     </select>
		       </div> 
		   </div>
		   <div class="form-group">
		      <label for="dg2_disk_capcity" class="col-sm-2 control-label">磁盘2●磁盘容量: </label>
		      <div class="col-sm-4">
		         <select name="dg2_disk_capcity" id="dg2_disk_capcity" class="form-control">
		         	 <option></option>
		         	 {% if disk.capacity == 300 %}<option selected>300</option>{% else %}<option>300</option>{% endif %}
		         	 {% if disk.capacity == 600 %}<option selected>600</option>{% else %}<option>600</option>{% endif %}
		         	 {% if disk.capacity == 900 %}<option selected>900</option>{% else %}<option>900</option>{% endif %}
		         	 {% if disk.capacity == 1000 %}<option selected>1000</option>{% else %}<option>1000</option>{% endif %}
		         	 {% if disk.capacity == 1200 %}<option selected>1200</option>{% else %}<option>1200</option>{% endif %}
		         	 {% if disk.capacity == 1500 %}<option selected>1500</option>{% else %}<option>1500</option>{% endif %}
		         	 {% if disk.capacity == 3000 %}<option selected>3000</option>{% else %}<option>3000</option>{% endif %}
		         	 {% if disk.capacity == 4000 %}<option selected>4000</option>{% else %}<option>4000</option>{% endif %}
			     </select>
		       </div> 
		   </div>
		   <div class="form-group">
		      <label for="dg2_raid" class="col-sm-2 control-label">磁盘2●RAID: </label>
		      <div class="col-sm-4">
		         <select name="dg2_raid" id="dg2_raid" class="form-control">
		         	 <option></option>
		         	 {% if disk.raid == 0 %}<option selected>0</option>{% else %}<option>0</option>{% endif %}
		         	 {% if disk.raid == 1 %}<option selected>1</option>{% else %}<option>1</option>{% endif %}
		         	 {% if disk.raid == 5 %}<option selected>5</option>{% else %}<option>5</option>{% endif %}
		         	 {% if disk.raid == 6 %}<option selected>6</option>{% else %}<option>6</option>{% endif %}
		         	 {% if disk.raid == 10 %}<option selected>10</option>{% else %}<option>10</option>{% endif %}
			     </select>
		       </div> 
		   </div>
		 {% endif %}
	   {% endfor %}
	   <div class="page-header"></div>
	   <div class="form-group">
	      <label for="idc" class="col-sm-2 control-label">IDC: </label>
	      <div class="col-sm-4">
	         <select name="idc" id="idc" class="form-control">
	         	 {% if server.idc.name == "公司机房" %}<option selected>公司机房</option>{% else %}<option>公司机房</option>{% endif %}
		         {% if server.idc.name == "科韵路机房" %}<option selected>科韵路机房</option>{% else %}<option>科韵路机房</option>{% endif %}
		     </select>
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="cabinet_num" class="col-sm-2 control-label">机柜编号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="cabinet_num" id="cabinet_num" value="{{server.cabinet_num}}"
	            placeholder="请输入机柜编号">
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="bands" class="col-sm-2 control-label">带宽: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="bands" id="bands" value="{{server.band}}"
	            placeholder="如:BGP 100M共享, 双线10M独享">
	       </div> 
	   </div>	
	   <div class="form-group">
	      <label for="device_type" class="col-sm-2 control-label">设备类型: </label>
	      <div class="col-sm-4">
	         <select name="device_type" id="device_type" class="form-control">
	         	 {% if server.device_type == "物理服务器" %}<option selected>物理服务器</option>{% else %}<option>物理服务器</option>{% endif %}
	         	 {% if server.device_type == "虚拟服务器" %}<option selected>虚拟服务器</option>{% else %}<option>虚拟服务器</option>{% endif %}
	         	 {% if server.device_type == "ESXi服务器" %}<option selected>ESXi服务器</option>{% else %}<option>ESXi服务器</option>{% endif %}
	         	 {% if server.device_type == "网络设备" %}<option selected>网络设备</option>{% else %}<option>网络设备</option>{% endif %}
		     </select>
	       </div> 
	   </div>   
	   <div class="form-group">
	      <label for="sn" class="col-sm-2 control-label">序列号: </label>
	      <div class="col-sm-4">
	         <input type="text" class="form-control" name="sn" id="sn" value="{{server.sn}}"
	            placeholder="请输入服务器序列号">
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="service_time" class="col-sm-2 control-label">维保截止时间: </label>
	      <div class="col-sm-4">
	         <input type="date" class="form-control" name="service_time" id="service_time" value="{{curdate}}">
	       </div> 
	   </div>
	   <div class="form-group">
	      <label for="status" class="col-sm-2 control-label">在线状态: </label>
	      <div class="col-sm-4">
	         <select name="status" id="status" class="form-control">
	         	  {% if server.status == "online" %}<option selected>online</option>{% else %}<option>online</option>{% endif %}
	         	  {% if server.status == "offline" %}<option selected>offline</option>{% else %}<option>offline</option>{% endif %}
		     </select>
	       </div> 
	   </div>
	   <div class="page-header"></div>	   
	   <div class="form-group">
		  <div class="col-sm-12, col-sm-offset-10">
		     <button class="btn  btn-success" onclick="sercancel()">取消</button>
		     <button type="submit" class="btn  btn-success" onclick="sersave()">保存</button>
		  </div>
	   </div>
	</form>
{% endblock %}
