{% extends "bstrap.html" %}

{% block title %}统计查询{% endblock %}

{% block panel-title %}统计查询{% endblock %}

{% block content %}
	<form class="form-inline" role="form" action="/query/" method="POST" id="statquery">
	<p style="color: #3c763d;"><strong>* 请选择或输入检索条件, 同时只能选择或输入1个查询条件</strong></p>
		{% csrf_token %}
	   <div class="form-group">
	      <label for="pingtai">业务平台: </label>
	      <select class="form-control" id="pingtai" name="pingtai">
	      	 <option></option>
	         <option>医患药平台</option>
	         <option>药店人平台</option>
	         <option>西普平台</option>
	         <option>DR数据平台</option>
	         <option>管理平台</option>
	         <option>营销平台</option>
	         <option>其它</option>
	      </select>
	   </div>
	   <div class="form-group">
	      <label for="linestat" style="margin-left: 10px;">在线状态: </label>
	      <select class="form-control" id="linestat" name="linestat">
	      	 <option></option>
	         <option>正在使用</option>
	         <option>正在闲置</option>
	      </select>
	   </div>
	   <div class="form-group">
              <label for="weibao" style="margin-left: 10px;">维保状态: </label>
	      <select class="form-control" id="weibao" name="weibao">
	      	 <option></option>
	         <option>维保期内</option>
	         <option>维保过期</option>
	      </select>
	   </div>
	   <div class="form-group">
	      <label for="ywip" style="margin-left: 10px;">IP地址: </label>
	      <input type="text" class="form-control" id="ywip" name="ywip"
	         placeholder="请输入检索IP">
	   </div>
	   <div class="form-group">
	      <label for="biaoji" style="margin-left: 10px;">标签: </label>
	      <input type="text" class="form-control" id="biaoji" name="biaoji"
	         placeholder="请输入资产标记">
	   </div>
	   <button type="submit" class="btn btn-primary" onclick="query()">查询</button>
	</form>
	<form class="form-inline" role="form" method="POST" action="/query2/" id="statquery2" style="margin-top: 25px;">
	<p style="color: #3c763d;"><strong>* 请选择检索条件, 必须同时选择2个查询条件</strong></p>
		{% csrf_token %}
	   <div class="form-group">
	      <label for="pingtai2">业务平台: </label>
	      <select class="form-control" id="pingtai2" name="pingtai2">
	      	 <option></option>
	         <option>医患药平台</option>
	         <option>药店人平台</option>
	         <option>西普平台</option>
	         <option>DR数据平台</option>
	         <option>管理平台</option>
	         <option>营销平台</option>
	         <option>其它</option>
	      </select>
	   </div>		
	   <div class="form-group">
	      <label for="devtype" style="margin-left: 10px;">设备类型: </label>
	      <select class="form-control" id="devtype" name="devtype">
	      	 <option></option>
	         <option>物理服务器</option>
	         <option>虚拟服务器</option>
	         <option>ESXi服务器</option>
	         <option>网络设备</option>
	      </select>
	   </div>	
		<button type="submit" class="btn btn-primary" onclick="query2()">查询</button>
	</form>
	<div class="page-header"></div>
	<h3 style="color:red;">{{ msg }}</h3>	
	<table class="table table-hover table-striped">
	   <thead>
	   {% if condition %}
	      <tr>
		 <th>序号</th>
	         <th>主机名</th>
	         <th>业务IP</th>
	         <th>标签</th>
	         <th>项目应用</th>
	         <th>硬件配置</th>
	         <th>状态</th>
	         {% if condition == "business" %}<th>业务平台</th>{% endif %}
		 {% if condition == "service_time" %}<th>维保截止时间</th>{% endif %}
	         {% if condition == "complex" %}
	         	<th>设备类型</th>
	         	<th>业务平台</th>
	         {% endif %}
	      </tr>
	    {% endif %}
	   </thead>
	   <tbody>
	      {% for server in servers %}
	 		<tr>
				<td>{{forloop.counter}}</td>
	 			<td>{{server.hostname}}</td>
	 			<td>
	 			{% for ip in server.ipaddr_set.all %}
	 				{{ip.ip_type}}: {{ip.address}}<br>
	 			{% endfor %}
	 			</td>
	 			<td>{{server.tag}}</td>
	 			<td>
	 			{% for app in server.app_set.all %}
	 				<a href="http://{{app.slug}}" target="_Blank">{{app.name}}</a><br>
	 			{% endfor %}
	 			</td>
	 			<td><a href="{{server.get_absolute_url}}">详细</a></td>
	 			{% if server.status == "online" %}
	 				<td><img src="/static/img/icon-yes.gif"></td>
	 			{% else %}
	 				<td><img src="/static/img/icon-no.gif"></td>
	 			{% endif %}
	 			{% if condition == "business" %}<td>{{server.business.name}}</td>{% endif %}	
				{% if condition == "service_time" %}<td>{{server.service_time}}</td>{% endif %}
		        	{% if condition == "complex" %}
		         		<td>{{server.device_type}}</td>
		         		<td>{{server.business.name}}</td>
		        	{% endif %}
	 		</tr>
	 	  {% endfor %}
	 	</tbody>
	   </table>
{% endblock %}
