{% extends "bstrap.html" %}

{% block title %}
	服务器
{% endblock %}

{% block panel-title %}
	物理服务器
{% endblock %}

{% block content %}
	<!-- 在顶部添加一个添加按钮 -->
	<div class="panel panel-default">
	   <div class="panel-body">
	   <button type="button" class="btn btn-success btn-xs" onclick="delbutton()" data-toggle="modal" data-target="#hostModal">删除选择项<span class="badge">DEL</span></button>
	   <a href="/add/host/">
			<button type="button" class="btn btn-success btn-xs">添加<span class="badge">ADD</span></button>
		</a>		
	 	<!-- 模态框（Modal） -->
		<div class="modal fade" id="hostModal" tabindex="-1" role="dialog"
		   aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close"
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="myModalLabel">
		               确认删除以下服务器吗?
		            </h4>
		         </div>
		         <div class="modal-body">
		            模板内容
		         </div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default"
		               data-dismiss="modal">关闭
		            </button>
				 	<button type="button" class="btn btn-primary" 
				 	onclick="ackdelbtn()" data-dismiss="modal">确定
				 	</button>
		         </div>
		      </div><!-- /.modal-content -->
		</div><!-- /.modal -->
	   </div>
	</div>
	
	<table class="table table-hover table-striped" id="hosttable">
   <thead>
      <tr>
      	 <th><input type="checkbox" name="allsercheck"></th>
         <th>主机名</th>
         <th>业务IP</th>
         <th>标签</th>
         <th>项目应用</th>
         <th>硬件配置</th>
         <th>序列号</th>
         <th>维保截止时间</th>
         <th>状态</th>
      </tr>
   </thead>
   <tbody>
      {% for server in servers.object_list %}
 		<tr>
 			<td><input type="checkbox" value="{{server.id}}" name="sercheckbox" id="{{server.hostname}}"></td>
 			<td><a href="{{server.get_absolute_url2}}">{{server.hostname}}</a></td>
 			<td>
 			{% for ip in server.ipaddr_set.all %}
 				{{ip.ip_type}}: {{ip.address}}<br>
 			{% endfor %}
 			</td>
 			<td>{{server.tag}}</td>
 			<td>
 			{% for app in server.app_set.all %}
 				<a href="http://{{app.slug}}" target="_Blank">{{app.name}}</a><br>
 			{% endfor %}
 			</td>
 			<td><a href="{{server.get_absolute_url}}">详细</a></td>
 			<td>{{server.sn}}</td>
 			<td>{{server.service_time}}</td>
 			{% if server.status == "online" %}
 				<td><img src="/static/img/icon-yes.gif"></td>
 			{% else %}
 				<td><img src="/static/img/icon-no.gif"></td>
 			{% endif %}
 		</tr>
 	  {% endfor %}
 	</tbody>
   </table>
<!-- 翻页配置 -->
<!--
   <div>
     <ul class="pager">
		{% if servers.has_previous %}
			<li class="previous"><a href="?page={{ servers.previous_page_number }}">&laquo; 上一页</a></li>
		{% else %}
		  	<li class="previous disabled"><a href="#">&laquo; 上一页</a></li>
		{% endif %}
        {% if servers.has_next %}
        	<li class="next"><a href="?page={{ servers.next_page_number }}">下一页 &raquo;</a></li>
        {% else %}
        	<li class="disabled next"><a href="#">下一页 &raquo;</a></li>
        {% endif %}
	</ul>
</div>
-->
<!-- 分页配置 -->
	<ul class="pagination" style="margin-left: 500px; margin-top: 50px;">
	<li><a href="?page=1">首页</a></li>
        {% if servers.has_previous %}
        	<li><a href="?page={{ servers.previous_page_number }}">&laquo;</a></li>
        {% else %}
        	<li class="disabled"><a href="?page=1">&laquo;</a></li>
        {% endif %}
        {% if servers.has_previous %}
        	<li><a href="?page={{ servers.previous_page_number }}">{{ servers.previous_page_number }}</a></li>
        {% endif %}
        <li><a href="?page={{ servers.number }}">{{ servers.number }}</a></li>
        {% if servers.has_next %}
        	<li><a href="?page={{ servers.next_page_number }}">{{ servers.next_page_number }}</a></li>
        {% endif %}
        {% if servers.has_next %}
        	<li><a href="?page={{ servers.next_page_number }}">&raquo;</a></li>
        {% else %}
        	<li class="disabled"><a href="?page={{ servers.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
	<li><a href="?page={{ servers.paginator.num_pages }}">尾页</a></li>
	</ul>
{% endblock %}

