{% extends "bstrap.html" %}

{% block title %}
	网站监控
{% endblock %}

{% block panel-title %}
	网站监控
{% endblock %}

{% block content %}
	<!-- 在顶部添加一个添加按钮 -->
	<div class="panel panel-default">
	   <div class="panel-body">
	   <button type="button" class="btn btn-success btn-xs" onclick="delwebbutton()" data-toggle="modal" data-target="#webModal">删除选择项<span class="badge">DEL</span></button>
	 	<a href="/add/web/">
			<button type="button" class="btn btn-success btn-xs">添加<span class="badge">ADD</span></button>
		</a>

	 	<!-- 模态框（Modal） -->
		<div class="modal fade" id="webModal" tabindex="-1" role="dialog"
		   aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close"
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="myModalLabel">
		               确认删除以下监控项吗?
		            </h4>
		         </div>
		         <div class="modal-body">
		            模板内容
		         </div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default"
		               data-dismiss="modal">关闭
		            </button>
				 	<button type="button" class="btn btn-primary" 
				 	onclick="ackwebbtn()" data-dismiss="modal">确定
				 	</button>
		         </div>
		      </div><!-- /.modal-content -->
		</div><!-- /.modal -->
	   </div>
	</div>
	<!-- 表格添加监控的站点列表 -->
   <table class="table table-striped table-hover">
   <thead>
      <tr>
      	 <th><input type="checkbox" name="allwebcheck"></th>
         <th>站点名称</th>
         <th>域名</th>
         <th>状态</th>
         <th>状态信息</th>
      </tr>
   </thead>
   <tbody>
	{% for weburl in websniffs.object_list %}
		<tr>
			<td><input type="checkbox" name="webcheckbox" value="{{weburl.id}}" id="{{weburl.name}}"></td>
			<td><a href="{{weburl.get_absolute_url}}">{{weburl.name}}</a></td>
			<td>{{weburl.slug}}</td>
			{% if weburl.code in codelist %}
				<td><img src="/static/img/icon-yes.gif"></td>
			{% else %}
				<td><img src="/static/img/icon-no.gif"></td>
			{% endif %}
			<td>{{weburl.status}}</td>
		</tr>
	{% endfor %}
   </tbody>
</table>

<!-- 翻页配置 -->
 
<div>
     <ul class="pager">
		{% if websniffs.has_previous %}
			<li class="previous"><a href="?page={{ websniffs.previous_page_number }}">&laquo; 上一页</a></li>
		{% else %}
		  	<li class="previous disabled"><a href="#">&laquo; 上一页</a></li>
		{% endif %}
        {% if websniffs.has_next %}
        	<li class="next"><a href="?page={{ websniffs.next_page_number }}">下一页 &raquo;</a></li>
        {% else %}
        	<li class="disabled next"><a href="#">下一页 &raquo;</a></li>
        {% endif %}
	</ul>
</div>
{% endblock %}
